<div class="wrapper typography">
  <div class="chat-box" *ngIf="visible">
    <div class="chat-box-header">
      <div class="chat-box-header-content">
        <chat-avatar [image]="chatbot.avatar"></chat-avatar>
        <div class="chatbot-name">
          {{ chatbot.name }}
        </div>
        <div class="chatbot-status">
          <span class="chatbot-status-online">●</span>
          <div class="chat-button-header" (click)="toggleChat()">
            <!-- <span class="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                />
              </svg>
            </span> -->
            <chat-icon [key]="'close'"></chat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-box-main">
      <ng-container *ngFor="let message of messages">
        <div
          class="chat-message"
          [class.chat-message-received]="message.type === 'received'"
          [class.chat-message-sent]="message.type === 'sent'"
        >
          <div class="chat-message-text-wrapper">
            <chat-avatar
              *ngIf="message.type === 'received'"
              [image]="message.from.avatar"
              class="chat-message-from-avatar"
            ></chat-avatar>
            <div class="chat-message-text">
              {{ message.text }}
            </div>
          </div>
          <div class="chat-message-date">
            {{ message.date | date: 'short' }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="chat-box-footer">
      <chat-input
        [focus]="focus"
        (send)="onSendMessage($event)"
        (dismiss)="toggleChat()"
      ></chat-input>
    </div>
  </div>
  <button *ngIf="toggleVisible" mat-fab color="primary" class="chat-button" (click)="toggleChat()">
    <chat-icon [key]="'chat'"></chat-icon>
  </button>
</div>
