<div class="wrapper typography">
  <div class="chat-box" *ngIf="visible">
    <div class="chat-box-header">
      <div class="chat-box-header-content">
        <chat-avatar [image]="chatbot.avatar"></chat-avatar>
        <div class="chatbot-name">
          {{ chatbot.name }}
        </div>
        <div class="chatbot-status">
          <span class="chatbot-status-online">●</span>
          <div class="chat-button-header" (click)="toggleChat()">
            <chat-icon [key]="'close'"></chat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-box-main">
      <ng-container *ngFor="let message of messages">
        <div
          class="chat-message"
          [class.chat-message-received]="message.type === 'received'"
          [class.chat-message-sent]="message.type === 'sent'"
        >
          <div class="chat-message-text-wrapper">
            <chat-avatar
              *ngIf="message.type === 'received'"
              [image]="message.from.avatar"
              class="chat-message-from-avatar"
            ></chat-avatar>
            <div class="chat-message-text">
              {{ message.text }}
            </div>
          </div>
          <div class="chat-message-date">
            {{ message.date | date: 'short' }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="chat-box-footer">
      <chat-input
        [focus]="focus"
        (send)="onSendMessage($event)"
        (dismiss)="toggleChat()"
      ></chat-input>
    </div>
  </div>
  <button *ngIf="toggleVisible" mat-fab color="primary" class="chat-button" (click)="toggleChat()">
    <chat-icon [key]="'chat'"></chat-icon>
  </button>
</div>
